@import url(./fonts/stylesheet.css);

:root {
    --primary-color: #080614;
    --secondary-color: #efe4e4;
    --secondary-color-alt: #2e2828;
    --accent-color : #e4ad47;
    --accent-color2: #e5e5e5a6;
    --bg-elements: #e5e5e5a6;
    --bg-sections: #2c2b35ea;
    --bg-card: #e5e5e5a6;

    --ff: "Arial";
    --ff-big: 32px;
    --ff-medium: 18px;
    --ff-small: 12px;
    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-size: var(--ff-big);
}

body {
    font-family: var(--ff);
    font-size: var(--ff-medium);
    text-align: center;
}

.layout {
    display: flex;
    flex-direction: column;
    color: var(--secondary-color);
    height: 100vh;
    padding: 15px 200px 15px 200px;
    gap: 20px;  
    background-color: var(--primary-color);
    /* Pattern background */
    opacity: .8;
    background-image: 
        radial-gradient(circle, #b9b9ca39 1.2px, transparent 1.2px);
    background-size: 25px 25px;
}

.upper,
.bottom {
    background: var(--bg-sections);
    border-radius: 10px;
}

.upper {
    display: flex;
    align-items: center;
    gap: 50px;
    height: 35vh;
    padding: 20px 45px;
    
}

.cover {
    width: 120px;
    height: 180px;
    background: var(--bg-elements);
    border-radius: 8px;
}

.book-info {
    text-align: start;
    padding: 10px 30px;
    color: var(--secondary-color-alt);
    line-height: 2.3rem;
    width: 70%;
    height: 180px;
    background: var(--bg-elements);
    border-radius: 5px;
    
}

.display-entry {
    display: flex;
    gap: 10px;
}

.add-book {
    background: var(--bg-card);
    padding: 0px 10px;
    border-radius: 5px;
    border: none;
    align-self: flex-end;
    cursor: pointer;
    transition: all 0.2s;
}

.add-book:hover {
    transform: scale(1.05);
}

.bottom {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    justify-items: center;
    row-gap: 50px;
    column-gap: 100px;
    height: 60vh;
    padding: 15px 30px;
    overflow-y: auto;
}

.book-card {
    width: 120px;
    height: 180px;
    border-radius: 8px;
    background: var(--bg-card);
    cursor: pointer;
    transition: all 0.1s;
}

.book-card:hover {
    transform: scale(1.02) rotate(1deg);
}

.book-card-wrapper {
    max-width: 120px;
    max-height: 180px;

}

.book-card-wrapper p {
    text-wrap: nowrap;
    overflow:hidden;
    text-overflow: ellipsis;
}

/* Modal Syling */

.add-modal {
    opacity: 0;
}

.add-modal[open] {
    opacity: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin: auto auto;
    width: 50vw;
    padding: 50px;
    border: 3px solid rgba(35, 35, 59, 0.872);
    border-radius: 10px;
    gap: 20px;
}

.add-modal form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.entry label { 
    width: 20%;
}

.entry {
    text-align: start;
    display: flex;
    justify-content: space-between;
    
}

#entry-read {
    justify-content: flex-start;
}

.read-radio {
    display: flex;
    gap: 10px;
}


.entry input {
    width: 100%;
}

.submit-row {
    display: flex;
    justify-content: space-between;
}

.close-modal {
    border-radius: 10px;
    color: white;
    padding: 5px 10px;
    border: 2px solid green;
    background: #2b294a;
}

.add-modal::backdrop {
    background: #28282772;
}

/* ---  */