@import url(./fonts/stylesheet.css);

:root {
    --bg-color: #5a586b;
    --bg-elements: #e5e5e5a6;
    --text-color: #ddd9d9;
    --bg-card: #e5e5e5a6;
    --bg-sections: #2c2b35ea;
    --text-color-alt: #1c1b1b;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
}

h1 {
    font-family: Gothica;
}

.layout {
    display: flex;
    flex-direction: column;
    background: #5a586b;
    color: #ddd9d9;
    height: 100vh;
    padding: 50px 200px;
    padding-top: 10px;
    padding-bottom: 15px;
    gap: 20px;  

    background-color: #11111c;
    opacity: .8;
    background-image: 
        radial-gradient(circle, #cacae021 1.2px, transparent 1.2px);
    background-size: 15px 15px;
}

.upper,
.bottom {
    background: var(--bg-sections);
    border-radius: 10px;
}

.upper {
    display: flex;
    align-items: center;
    gap: 50px;
    height: 35vh;
    padding: 20px 45px;
    
}

.cover {
    width: 120px;
    height: 180px;
    background: var(--bg-elements);
    border-radius: 8px;
}

.book-info {
    text-align: start;
    padding: 10px 30px;
    color: var(--text-color-alt);
    font-size: 24px;
    line-height: 2.3rem;
    width: 70%;
    height: 180px;
    background: var(--bg-elements);
    border-radius: 5px;
    
}

.add-book {
    background: var(--bg-card);
    font-size: 32px;
    padding: 0px 10px;
    border-radius: 5px;
    border: none;
    align-self: flex-end;
}

.bottom {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    justify-items: center;
    row-gap: 50px;
    column-gap: 100px;
    height: 60vh;
    padding: 15px 30px;
    overflow-y: auto;
}

.book-card {
    width: 120px;
    height: 180px;
    border-radius: 8px;
    background: var(--bg-card);
}

.book-card-wrapper {
    max-width: 120px;
    height: 180px;

}

.book-card-wrapper p {
    text-wrap: nowrap;
    overflow:hidden;
    text-overflow: ellipsis;
}

/* Modal Syling */
.add-modal {
    opacity: 0;
}

.add-modal[open] {
    opacity: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin: auto auto;
    width: 50vw;
    padding: 50px;
    border: 3px solid rgba(35, 35, 59, 0.872);
    border-radius: 10px;
    font-size: 24px;
    gap: 20px;
}

.add-modal form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.entry label { 
    width: 20%;
}

.entry {
    text-align: start;
    display: flex;
    justify-content: space-between;
    
}

#entry-read {
    justify-content: flex-start;
}

.read-radio {
    display: flex;
    gap: 10px;
}


.entry input {
    width: 100%;
}

.submit-row {
    display: flex;
    justify-content: space-between;
}

.close-modal {
    border-radius: 10px;
    color: white;
    padding: 5px 10px;
    border: 2px solid green;
    background: #2b294a;
}

.add-modal::backdrop {
    background: #28282772;
}

.radio-yes {
    background-image: url(./icons/book-icon-black.svg) Im !important;
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}